uint8_t maxClassIdx = 0;
uint16_t maxVote = votes[0];

for (uint8_t i = 1; i < CLASS_COUNT; i++) {
    if (votes[i] > maxVote) {
        maxClassIdx = i;
        maxVote = votes[i];
    }
}

predictedValue = maxClassIdx;